<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../login-form/login-form.html">
<link rel="import" href="../contenedor-app/contenedor-app.html">

<dom-module id="visor-app">
    <template>
        <style>
            :host{
                display: block;                
            }
            .form{
                margin-top: 5em;
            }
        </style>
        <div class="form" hidden$=[[view]]>            
            <login-form logeado={{view}} id={{id}} nombre={{nombre}}></login-form>            
        </div>     
        <div hidden$=[[!view]]> 
            <contenedor-app id=[[id]] nombre=[[nombre]] view={{view}}></contenedor-app>
        </div> 

    </template>
    <script>
        class VisorApp extends Polymer.Element{
            static get is(){return 'visor-app';}
            static get properties(){
                return{
                    view:{
                        type: Boolean,
                        value: false
                    },
                    id:{
                        type: String
                    },
                    nombre:{
                        type: String
                    }
                };
            }

        }
    window.customElements.define(VisorApp.is, VisorApp);    
    </script> 
</dom-module>