<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="gestor-movimientos">
  <template>
    <!-- Bootstrap CSS -->    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <style>
      :host {
        display: block;
        background-color: white;
        padding: 1em;
      }
      .column{
        width: 25%;
        padding: 1em;
        background-color: var(--paper-blue-50);
      }
      .aling{
        opacity: 0;
      }
      .clearField{
        font-size: 0.5em;
        color: var(--paper-blue-900);
        text-decoration: underline;
      }
      .thead{
        background-color: #c6dafc;
      }
      .row{
        width: 100%;
      }
      .column-select{
        width: 25%;
        padding: 1em;
        background-color: var(--paper-blue-50);
      }

    </style>
    <div class="container">
      <div class="row">
        <h1>Credito disponible</h1>
      </div>
      <div class="row">
        <h2>$[[disponible]]</h2>
      </div>
      <div class="row">
        <input type="range" min="0" max="100" value="[[utilizado]]" class="custom-range" id="customRange3" disabled>
      </div>

      <div class="row">
        <div class="column-select">
          <label class="aling">.</label>
          <select class="custom-select custom-select-sm" id="selectCard">
            <option value="0" disabled selected>De tarjeta</option>
            <template is="dom-repeat" items="{{tarjetas}}">
              <option value="[[item.cuenta]]">[[item.cuenta]]</option>
            </template>
          </select>
          <paper-button class="clearField" on-click="clearFields">Restablecer todos los campos</paper-button>
        </div>        
        <div class="column">
          <label>MONTO</label>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input id="desde" type="text" class="form-control" value="[[desde]]" maxlength="6" placeholder="Desde" >            
          </div>        
        </div>
        <div class="column">
          <label class="aling">.</label>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input id="hasta" type="text" class="form-control" value="[[hasta]]" maxlength="6" placeholder="Hasta">            
          </div>                   
        </div>
        <div class="column">
          <br>
          <button on-click="obtenerImporteTarjeta" type="button" name="button" class="btn btn-success">Buscar</button>
        </div>
        
    </div>
    <br>
      <div class="row">
        <table class="table table-striped">
            <thead class="thead"> 
                <tr>
                    <th>FECHA</th>
                    <th>DESCRIPCIÓN</th>
                    <th>IMPORTE</th>
                    <th>TIPO</th>
                </tr>
            </thead>
          <tbody>
            <template is="dom-repeat" items="{{movimientos}}">
            <tr>
              <td>
                [[item.fecha]]
              </td>
              <td>
                [[item.descripcion]]
              </td>
              <td>
                [[item.importe]]
              </td>
              <td>
                [[item.tipo]]
              </td>
            </tr>
            </template>
          </tbody>
        </table>

      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorMovimientos extends Polymer.Element {
      static get is() { return 'gestor-movimientos'; }
      static get properties() {
        return {
          movimientos: {
            type: Array
          },
          tarjetas:{
            type: Array
          },
          tarjeta:{
            type: String,
            value: "",
            observer: 'detalleTarjeta'
          },
          id:{
            type: String, 
            value: "",
            notify: true                      
          },
          idCuenta:{
            type: String
          },
          desde:{
            type: Number
          },
          hasta:{
            type: Number
          },
          disponible:{
            type: String
          },
          utilizado:{
            type: String
          }
        };
      }
      ready() {
        super.ready();
        this.$.selectCard.addEventListener("click", () => {
          this.obtenerTarjetas();
        })
        this.$.desde.addEventListener("keypress", () => { this.validateDesde() });
        this.$.desde.addEventListener("keydown", () => { this.validateDesde() });
        this.$.desde.addEventListener("keyup", () => { this.validateDesde() });
        this.$.hasta.addEventListener("keypress", () => { this.validateHasta() });
        this.$.hasta.addEventListener("keydown", () => { this.validateHasta() });
        this.$.hasta.addEventListener("keyup", () => { this.validateHasta() });

      }

      validateDesde(){
          this.desde = this.$.desde.value
          this.desde = this.desde.replace(/[a-zA-Z]/g, '').replace(/\W/gi, '');                
      }

      validateHasta(){
          this.hasta = this.$.hasta.value
          this.hasta = this.hasta.replace(/[a-zA-Z]/g, '').replace(/\W/gi, '');                
      }

      detalleTarjeta(){
        this.obtenerMovimientoTarjeta(this.tarjeta);
      }

      obtenerMovimientoTarjeta(numTarjeta){
        if(numTarjeta.length == 16){
          var request = new XMLHttpRequest();
          var filtro = this.id + "/" + numTarjeta
          request.open("GET", "http://34.121.43.228:3002/v2/Movimientos/" + filtro, false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.movimientos = JSON.parse(request.responseText);
          this.infoTarjeta(numTarjeta);
        }        
      }

      obtenerTarjetas(){        
        var request = new XMLHttpRequest();        
        request.open("GET", "http://34.121.43.228:3002/v2/Tarjetas/"+this.id, false); 
        request.setRequestHeader("Accept", "application/json");          
        request.send();
        this.tarjetas = JSON.parse(request.responseText);
      }

      obtenerImporteTarjeta() {     
        var card = this.$.selectCard.value;
        var min = this.$.desde.value;
        var max = this.$.hasta.value; 
        if (max!=null && max.length!=0 && min!=null && min.length!=0 && card!=0) {
          var request = new XMLHttpRequest();          
          var filtro = this.id + "/" + card + "/" + min + "/" + max;
          request.open("GET", "http://34.121.43.228:3002/v2/Movimientos/" + filtro, false);
          request.setRequestHeader("Accept", "application/json");
          request.send();
          this.movimientos = JSON.parse(request.responseText);
        } else if((card.length == 16) && (max==null || max.length==0) && (min==null || min.length==0)){
          this.obtenerMovimientoTarjeta(card);
        } else {
          alert("Faltan datos obligatorios")
        }
      }
      
      infoTarjeta(numTarjeta){
        var filtro = this.id + "/" + numTarjeta;
        var request = new XMLHttpRequest();
        request.open("GET", "http://34.121.43.228:3002/v2/Tarjetas/" + filtro, false);
        request.setRequestHeader("Accept", "application/json");
        request.send();
        var infoCard = JSON.parse(request.responseText);
        this.disponible = infoCard[0].saldoDisponible;
        this.utilizado = infoCard[0].saldoUtilizado*100;
        this.utilizado /= Number(infoCard[0].lineaCredito);
      }

      clearFields(){
        this.desde = null;
        this.hasta = null;
        this.$.selectCard.value = "0";
      }

    }
    window.customElements.define(GestorMovimientos.is, GestorMovimientos);
  </script>
</dom-module>
