<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *
<dom-module id="gestor-cuentas">
    <template>
        <style>
            :host{
                display: block;
                background-color: white;
                padding: 1em;
            }
            .container-card{
                width: 70%;                
                margin: auto;
                max-width: 1000px;
            }
            .tarjeta{
                padding: 30px;
                border-radius: 15px;
                min-height: 115px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                box-shadow: 0 10px 0 rgba(90, 120, 148, 0.3);
                background: url("../../src/gestor-cuentas/fondo.jpeg");
                width: 60%;
                max-height: 200px;
                margin: auto;
            }
            .tarjeta .logo{
                text-align: right;
                min-height: 50px;
            }
            .tarjeta .logo img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-width: 80px;
            }
            .tarjeta .chip{
                width: 100%;
                max-width: 60px;
            }
            .numero-tarjeta{
                color: white;
                font-size: 1.5em;
            }
            .card-button{
                padding: 1em;
                text-align: right;
            }
            paper-button{
                color: white;
                background-color: var(--paper-blue-900);
            }
        </style>
        <div class="container-card">            
            <div class="tarjeta">
                <div class="logo">
                    <img src="../../src/gestor-cuentas/master-card.png" class="chip" alt="chip">                
                </div>
                <div class="chip">
                    <img src="../../src/gestor-cuentas/chip-tarjeta.png" class="chip" alt="chip">
                </div>   
                <div class="numero-tarjeta">
                    <p>Numero tarjeta</p>
                <p>[[tarjeta]]</p>
                </div>             
                
            </div>
            <div id="formulario">
                <div class="card-content">
                    <paper-input label="Número Tarjeta" id="creditcard" value="{{tarjeta}}" required type="text" maxlength="19">
                    </paper-input>
                    <paper-input label="Linea de credito" id="creditline" value="{{credito}}" required type="text" maxlength="6"></paper-input>
                </div>
                <div class="card-button">
                    <paper-button raised on-click="crearCuenta">Crear cuenta</paper-button>            
                </div>
            </div>

        </div>
        <iron-ajax id="create" url="http://34.121.43.228:3002/Cuenta" content-type="application/json" crossDomain:true dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *" on-response="manageAJAXResponse" on-error="showError"></iron-ajax>
    </template>
    <script>
        class GestorCuentas extends Polymer.Element {
            static get is() { return 'gestor-cuentas'; }
            static get properties() {
                return {
                    id: {
                        type: String
                    },
                    tarjeta: {
                        type: String
                    },
                    credito: {
                        type: Number
                    }
                };
            }
            ready(){
            super.ready();
                this.$.creditcard.addEventListener("keypress",()=>{this.validateCard()});
                this.$.creditcard.addEventListener("keydown",()=>{this.validateCard()});
                this.$.creditcard.addEventListener("keyup",()=>{this.validateCard()}); 
                this.$.creditline.addEventListener("keypress",()=>{this.validateNumber()});
                this.$.creditline.addEventListener("keydown",()=>{this.validateNumber()});
                this.$.creditline.addEventListener("keyup",()=>{this.validateNumber()});             
            }

            validateCard(event) {
                this.tarjeta = this.tarjeta.replace(/[a-zA-Z]/g, '');
                this.tarjeta = this.tarjeta
                    .replace(/\W/gi, '')
                    .replace(/(.{4})/g, '$1 ')
                    .trim()
            }

            validateNumber(){
                this.credito = this.credito.replace(/[a-zA-Z]/g, '').replace(/\W/gi, '');                
            }

            crearCuenta() {
                if (this.tarjeta != null && this.credito != null && this.tarjeta.length != 0 && this.credito.length != 0 && this.credito>1500) {
                    if (this.existeTarjeta()) {
                        alert('Tarjeta ya existe')
                    } else {
                        var accountData = {
                            "id": this.id,
                            "tarjeta": this.tarjeta,
                            "credito": this.credito
                        };
                        this.$.create.body = JSON.stringify(accountData);
                        this.$.create.generateRequest();
                        this.cleanFields();
                    }

                } else {
                    alert("Faltan datos obligatorios")
                }
            }

            existeTarjeta() {                
                var request = new XMLHttpRequest();
                request.open("GET", "http://34.121.43.228:3002/v2/Tarjetas/" + this.id, false);
                request.setRequestHeader("Accept", "application/json");
                request.send();
                var tarjetas = JSON.parse(request.responseText);
                for(var a=0; a<tarjetas.length; a++){
                    if(this.tarjeta.replace(/[' ']*/g,'') == tarjetas[a].cuenta){
                        return true;
                    }
                }
            }

            cleanFields(){
                this.tarjeta = null
                this.credito = null
            }

            manageAJAXResponse(data) {
                alert("Alta correcta");
            }
            showError(error) {
                alert("Error en el servicio");
            }
        }        

    window.customElements.define(GestorCuentas.is, GestorCuentas);
    </script>

</dom-module>