<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../tarjeta-app/tarjeta-app.html">
<link rel="import" href="../gestor-movimientos/gestor-movimientos.html">

<dom-module id="contenedor-tarjeta">
    <template>
        <style>
            :host{
                display: block;
                background-color: white;
                text-align: center;
            }
        </style>

        <div class="contenedor">
            <div class="tarjetas" hidden$=[[vistaMovimiento]]>
                <template is="dom-repeat" items="{{tarjetas}}">                
                    <tarjeta-app tarjeta={{item.cuenta}} vista={{vistaMovimiento}} numero={{numero}}></tarjeta-app>
                </template> 
            </div>
            <div class="movimientos" hidden$=[[!vistaMovimiento]]>
                <gestor-movimientos id=[[usuario]] tarjeta=[[numero]]></gestor-movimientos>
            </div>                       
        </div>        

    </template>
    <script>
        class ContenedorTarjeta extends Polymer.Element {
            static get is(){return 'contenedor-tarjeta';}
            static get properties(){
                return{
                    tarjetas:{
                        type: Array
                    },
                    numero:{
                        type: String
                    },
                    usuario: {
                        type: String,
                        value: "",
                        observer: 'obtenerTarjetas'                      
                    },
                    actualizar:{
                        type: Boolean,
                        observer: 'obtenerTarjetas'
                    },
                    vistaMovimiento:{
                        type: Boolean
                    }
                }
            }

            restablece(){
                this.vistaMovimiento = false
            }
            
            obtenerTarjetas() {
                this.vistaMovimiento = this.actualizar
                if(this.usuario.length == 24){
                    var request = new XMLHttpRequest();
                    request.open("GET", "http://34.121.43.228:3002/v2/Tarjetas/" + this.usuario, false);
                    request.setRequestHeader("Accept", "application/json");
                    request.send();
                    this.tarjetas = JSON.parse(request.responseText);
                }
                
            }

        }       

        window.customElements.define(ContenedorTarjeta.is,ContenedorTarjeta);
    </script>
</dom-module>