<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/gestor-cuentas/gestor-cuentas.html">
<link rel="import" href="/src/generador-movimientos/generador-movimientos.html">
<link rel="import" href="../../bower_components/nvd3-elements/nvd3-line.html">
<link rel="import" href="../contenedor-tarjeta/contenedor-tarjeta.html">


<dom-module id="contenedor-app">
    <template>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
        <style>
            :host{
                display: block;
            }
            .barra{
                background-color: rgb(26, 51, 160);
                
            }
            .logo{
                color: white;
                padding: 10px;
                font-weight: bold;
                font-size: 3em;
                font-family: 'Courier New', Courier, monospace;
            }
            .saludo{
                background-color: #528fff;
                color: white;
                text-align: right;  
                font-weight: bold;
                font-size: 2em; 
                padding-right: 2em;            
            }
            .api{
                background-color: var(--paper-grey-50);
            }
            .tableDolar{
                height: 300px;
                width: 100%;
                border: 1px solid #ddd;
                background: #f1f1f1;
                overflow-y: scroll;
            }
            .banxico{
                background-color: chocolate;
                text-align: center;
                font-weight: bold;
                font-size: 2em;
            }
        </style>
        <div class="barra">
            <div class="logo">
                <span>BANCO</span>
            </div>
            <div class="saludo">
                <span>Bienvenido ¡[[nombre]]!</span>
            </div>            
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
                <a class="navbar-brand">Menu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#" on-click="viewMovimientos">Inicio</a>
                    <a class="nav-item nav-link" href="#" on-click="viewCuentas">Cuenta</a>
                    <a class="nav-item nav-link" href="#" on-click="viewGenerate">Transacción</a>
                    <a class="nav-item nav-link" href="#" on-click="viewClosed">Cerrar sesión</a>
                  </div>
                </div>
            </nav>
        </div>

        <div class="container-fluid">
            <div class="row flex-xl-nowrap">
                <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                    <div id="viewMovimientos" hidden="[[viewM]]">
                        <contenedor-tarjeta id="conTarjeta" usuario=[[id]] actualizar=[[viewM]] ></contenedor-tarjeta>
                    </div>
                    <div id="viewCuentas" hidden="[[viewC]]">
                        <gestor-cuentas id=[[id]]></gestor-cuentas>
                    </div>
                    <div id="viewGenerate" hidden="[[viewG]]">
                        <generador-movimientos id=[[id]]></generador-movimientos>
                    </div>
                </div>
                <div class="d-none d-xl-block col-xl bd-toc" style="background-color: white; margin-top: 1em;">
                    <div class="api">
                        <div class="banxico">
                            <span >BANCO DE MÉXICO</span>
                        </div>                        
                        <span>Tipo de cambio peso dólar 2020</span> 
                        <nvd3-line
                        id="grafica" 
                        data="[[data]]"
                        height="400"                        
                        auto-resize
                        show-legend
                        use-interactive-guideline>
                        </nvd3-line>                     
                    </div>
                    <div class="table">
                        <div >
                            <table class="table table-striped">
                                <thead class="thead">
                                    <tr>
                                        <th>FECHA</th>
                                        <th>PRECIO</th>
                                        <th>PUNTO</th>
                                    </tr>
                                </thead>                            
                            </table>
                        </div>   
                        <div class="tableDolar">
                            <table class="table table-striped">                                
                                <tbody >
                                    
                                        <template is="dom-repeat" items="{{datosPunto}}">
                                            <tr>
                                                <td>
                                                    [[item.fecha]]
                                                </td>
                                                <td>
                                                    [[item.valor]]
                                                </td>
                                                <td>
                                                    [[item.punto]]
                                                </td>
                                            </tr>
                                        </template>
                                    
                                </tbody>
                            </table>
                        </div>                        
                    </div>
                </div>
                

            </div>
        </div>

    </template>
    <script>
        class ContenedorApp extends Polymer.Element{
            static get is(){return 'contenedor-app';}
            static get properties(){
                return {
                    id: {
                        type: String
                    },
                    nombre:{
                        type: String,
                        value: "Nombre"
                    },
                    viewM:{
                        type: Boolean,
                        value: false
                    },
                    viewC:{
                        type: Boolean,
                        value: true
                    },
                    viewG:{
                        type: Boolean,
                        value: true
                    },
                    datos:{
                        type: Array
                    },
                    data:{
                        type: Array
                    },
                    datosPunto:{
                        type:Array,
                        value:[]
                    },
                    view:{
                        type: Boolean,
                        notify: true,
                        observer: 'viewMovimientos'
                    }
                };

            }

            viewClosed(){
                this.view = false;
            }

            viewMovimientos(){
                this.viewM = false;
                this.viewC = true;
                this.viewG = true;
                this.getDatosAPI()
                this.getGraficaDolar();
                this.$.conTarjeta.restablece();
            }

            viewCuentas(){
                this.viewM = true;
                this.viewC = false;
                this.viewG = true;
            }

            viewGenerate(){
                this.viewM = true;
                this.viewC = true;
                this.viewG = false;
            }

            getGraficaDolar(){
                var dolar = [];                               
                for(var a=0; a<this.datos.length; a++){
                    var jsonD ={
                        "x":a,
                        "y":this.datos[a].dato
                    }  
                    var newData={
                        "fecha":this.datos[a].fecha,
                        "valor":this.datos[a].dato,
                        "punto":a
                    }  
                    dolar.push(jsonD) 
                    this.datosPunto.push(newData)                     
                } 
                this.data =[
                    {
                        "key": "Dolar",
                        "color": "#2ca02c",
                        "values": dolar
                    }
                ];                  
                this.$.grafica.generateChart();  
                this.$.grafica.refresh();                
            }

            getDatosAPI() {
                var request = new XMLHttpRequest();                
                request.open("GET", "http://34.121.43.228:3002/v2/Dolares", false);
                request.setRequestHeader("Accept", "application/json");
                request.send();
                this.datos = JSON.parse(request.responseText);
            }


        }
        window.customElements.define(ContenedorApp.is,ContenedorApp);
    </script>
</dom-module>