<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-forms/iron-form.html">
<link rel="import" href="./login-validate.html">
<link rel="import" href="../../bower_components/js-sha256/src/sha256.js">

<dom-module id="login-form">
  <template>
    <script src="../../bower_components/js-sha256/src/sha256.js"></script>
    <style>
      :host {
        display: block;
        text-align: center;        
      }
      paper-card{
        text-align: left;
        width: 400px;
        padding: 1em;
        background-color: var(--paper-grey-100);
      }
      paper-card .card-actions{
        padding: 1em;
        text-align: right;
        color: var(--paper-light-blue-500);
      }
      paper-card .card-header{
        font-size: 2em;
        color: var(--paper-grey-600);
      }
      paper-card .card-header iron-icon{
        height: 2em;
        width: 2em;
        color: var(--paper-blue-400);
      }      
      paper-button[raised]{
        background-color: var(--paper-blue-900);
        color: white;
        width: 100%;
      }
      
    </style>

    <!-- FORM PARA CREAR CUENTA -->
    
    <paper-card elevation="4" animated-shadow="false" hidden$={{!view}}>
      <div class="card-header">
        <iron-icon icon="account-circle"></iron-icon> 
        Crear cuenta
      </div>
      <form is="iron-form" id="form"> 
        <div class="card-content">
          <paper-input label="Nombre" value="{{nombre}}" required type="text" onkeyup="javascript:this.value=this.value.toUpperCase()"></paper-input>
          <paper-input label="Apellido" value="{{apellido}}" required type="text" onkeyup="javascript:this.value=this.value.toUpperCase()"></paper-input>
          <paper-input label="Email" value="{{email}}" required type="email"></paper-input>
          <paper-input label="Contraseña" value="{{password}}" required type="password" maxlength="32"></paper-input>
        </div>
        <div class="card-actions">
          <paper-button raised id="signIn">Registrarse</paper-button>
        </div>
        <div class="card-actions">
          <paper-button on-click="changeView">Iniciar sesión</paper-button>
        </div>
      </form>
    </paper-card>

    <!-- FORM PARA INICIAR SESION -->
    <paper-card elevation="4" animated-shadow="false" hidden$={{view}}>
      <div class="card-header">
        <iron-icon icon="account-circle"></iron-icon> 
        Iniciar Sesión
      </div>
      <form is="iron-form" id="form"> 
        <div class="card-content">
          <paper-input label="Email" value="{{email}}" required type="email"></paper-input>
          <paper-input label="Contraseña" value="{{password}}" required type="password" maxlength="32"></paper-input>
        </div>
        <div class="card-actions">
          <paper-button raised id="logIn">Iniciar sesión</paper-button> 

        </div>
        <div class="card-actions">
          <paper-button on-click="changeView">Registrarse</paper-button>
        </div>
      </form>
    </paper-card>

    <iron-ajax id="doLogin" url="http://34.121.43.228:3002/Login" content-type="application/json" crossDomain:true dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *" on-response="manageAJAXResponse" on-error="showError"></iron-ajax>
    <iron-ajax id="doSignIn" url="http://34.121.43.228:3002/Sigin" content-type="application/json" crossDomain:true dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *" on-response="manageAJAXResponseSignIn" on-error="showErrorSignIn"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginForm extends Polymer.mixinBehaviors([LoginBehavior], Polymer.Element){
      static get is() { return 'login-form'; }
      static get properties() {
        return {
          nombre:{
            type: String,
            notify: true
          },
          apellido:{
            type: String
          },
          email: {
            type: String          
          },
          password: {
            typer: String
          },
          view:{
            type: Boolean,
            value: false 
          },
          logeado:{
            type: Boolean,
            value: false,
            notify: true,
            observer: 'cleanlogin'
          },
          id:{
            type: String,
            value: "",
            notify: true
          }
        };
      }
      
      ready() {
        super.ready();
        this.$.logIn.addEventListener("click", () => {
          this.login();
        })
        this.$.signIn.addEventListener("click", () => {
          this.signIn();
        })
      }

      cleanlogin(){
        this.email = null
        this.password = null
      }

      changeView() {   
        this.nombre = null
        this.apellido = null
        this.email = null
        this.password = null
        this.view = !this.view     
      }

      signIn(){
        this.validateSignin();
      }
          
      login(){
        this.validateLogin();
      }      

    }
    window.customElements.define(LoginForm.is, LoginForm);
  </script>
</dom-module>
