<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="generador-movimientos">
    <template>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
        <style>
            :host{
                display: block;
                background-color: rgb(19, 27, 71);
                width: 80%;
                max-width: 1000px;
                margin: auto;
                padding: 1em;
                color: white;
                border-radius: 5px;
                font-style: oblique;
            }
            .selectCard select{
                width: 50%;
            }
            .fecha{
                margin-left: 1em;
            }
            .descripcion input{
                width: 100%;
            }
            .button{
                margin-top: 1em;
                text-align: right;
                
            }
        </style>
        <div id="container">
            <div class="selectCard">
                <span>Selecciona tarjeta</span><br>
                <select class="custom-select custom-select-sm" id="selectCard">
                    <option value="" disabled selected>De tarjeta</option>
                    <template is="dom-repeat" items="{{tarjetas}}">
                      <option value="[[item.cuenta]]">[[item.cuenta]]</option>
                    </template>
                </select>
                <span class="fecha">Fecha: </span>
                <input id="fecha" type="date">
            </div>
            <div class="descripcion">
                <span>Concepto</span><br>
                <input id="descripcion" type="text" placeholder="Descripción" maxlength="255" onkeyup="javascript:this.value=this.value.toUpperCase()">
                
            </div>
            <div class="importe">
                <span>Importe</span><br>
                <input id="idImporte" value="{{importe}}" type="text" maxlength="6"/>
                <select name="type" id="tipo">
                    <option value="cargo">Cargo</option>
                    <option value="abono">Abono</option>
                </select>
            </div>  
            <div class="button">
                <input type="button" value="Generar movimiento" on-click="validarMovimiento">
            </div>  
        </div>

        <iron-ajax id="doMove" url="http://34.121.43.228:3002/Movimiento" content-type="application/json" crossDomain:true dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *" on-response="manageAJAXResponse" on-error="showError"></iron-ajax>
        <iron-ajax id="doUpdate" url="http://34.121.43.228:3002/v2/Cuenta" content-type="application/json" crossDomain:true dataType:'jsonp' method="POST" handle-as="json" headers="Access-Control-Allow-Headers: *" on-response="manageAJAXResponseCuenta" on-error="showError"></iron-ajax>
   
    </template>
    <script>
        class GeneradorMovimientos extends Polymer.Element{
            static get is(){return 'generador-movimientos';}
            static get properties(){
                return{
                    id:{
                        type: String
                    },
                    tarjetas:{
                        type: String
                    },
                    disponible:{   
                        type: Number
                    },
                    utilizado:{        
                        type: Number
                    },
                    importe:{
                        type: Number
                    } 

                };
            }

            ready() {
                super.ready();
                this.$.selectCard.addEventListener("click", () => {
                    this.obtenerTarjetas();
                })
                this.$.idImporte.addEventListener("keypress",()=>{this.validateNumber()});
                this.$.idImporte.addEventListener("keydown",()=>{this.validateNumber()});
                this.$.idImporte.addEventListener("keyup",()=>{this.validateNumber()});
            }

            validarMovimiento(){
                if(this.importe!=null && this.importe.length!=0 && this.$.selectCard.length!=0 && 
                    this.$.descripcion.value.length!=0 && this.$.fecha.value.length!=0){                    
                    this.generarMovimiento();
                    this.cleanFields();
                }else{
                    alert('Faltan campos obligatorios')
                }
            }

            cleanFields(){                
                this.$.descripcion.value = null
                this.$.fecha.value = null
                this.importe = null
            }

            validateNumber(){
                this.importe = this.$.idImporte.value;
                this.importe = this.importe.replace(/[a-zA-Z]/g, '').replace(/\W/gi, '');                
            }

            obtenerTarjetas() {
                var request = new XMLHttpRequest();
                request.open("GET", "http://34.121.43.228:3002/v2/Tarjetas/" + this.id, false);
                request.setRequestHeader("Accept", "application/json");
                request.send();
                this.tarjetas = JSON.parse(request.responseText);
            }

            generarMovimiento(){
                var filtro = this.id + "/" + this.$.selectCard.value;

                var request = new XMLHttpRequest();
                request.open("GET", "http://34.121.43.228:3002/v2/Tarjetas/" + filtro, false);
                request.setRequestHeader("Accept", "application/json");
                request.send();
                var infoCard = JSON.parse(request.responseText);
                this.disponible = infoCard[0].saldoDisponible;
                this.utilizado = infoCard[0].saldoUtilizado;
                var importe = Number(this.importe);
                if('cargo'==this.$.tipo.value){
                    if(this.disponible>=importe){
                        this.disponible-=importe;
                        this.utilizado+=importe;                   
                        this.crearMovimiento();                       
                    }else{
                        alert("Saldo insuficiente");
                    }
                }else{                    
                    if(this.utilizado<=importe){
                        importe-=this.utilizado;
                        this.disponible+=importe;
                        this.utilizado=0;
                    }else{
                        this.disponible+=importe;
                        this.utilizado-=importe;
                    }
                    this.crearMovimiento();                    
                }
            }

            crearMovimiento(){
                var data={
                    "idCliente": this.id,
                    "tarjeta": this.$.selectCard.value,
                    "descripcion": this.$.descripcion.value,
                    "fecha": this.$.fecha.value,
                    "importe": Number(this.importe),
                    "tipo": this.$.tipo.value
                }
                this.$.doMove.body = JSON.stringify(data);
                this.$.doMove.generateRequest();
            }

            actualizarCuenta(){
                var data={
                    "id": this.id,
                    "tarjeta": this.$.selectCard.value,
                    "saldoDisponible": this.disponible,
                    "saldoUtilizado": this.utilizado
                }
                this.$.doUpdate.body = JSON.stringify(data);
                this.$.doUpdate.generateRequest();
            }

            manageAJAXResponse(data){
                this.actualizarCuenta()
            }

            manageAJAXResponseCuenta(data){
                alert('Transaccion Realizada');
            }

            showError(error){
               alert("Error en el servicio");
            }    


        }        

        window.customElements.define(GeneradorMovimientos.is,GeneradorMovimientos);
    </script>
</dom-module>

    <!-- "idCliente":"5f3211c25d0e656ed648fbf4",
    "tarjeta":"1200550041424190",
    "fecha":"2020-07-01",
    "descripcion":"NUTRISA POLANCO",
    "importe":180,
    "tipo":"cargo"     -->
